/* my utilities */
.jw-debug{
    border: 2px solid black;
}
body{
    font-family: "Montserrat", sans-serif;
}
.wrapper{
    height: 100vh;
    background-color: cadetblue;
    overflow: hidden;
}
div{
    transition: 2s;
}
